{% extends 'AtwDdnsUserAdminBundle:Common:base.html.twig' %}

{% block title %}DDNSユーザ - {{ entity.userName }} - 編集{% endblock %}
{% block headerTitle %}DDNSユーザ - {{ entity.userName }} - 編集{% endblock %}
{% block isActiveDnsUserList %}active{% endblock %}

{% block contents -%}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        {% include 'AtwDdnsUserAdminBundle:Common:flashNotices.html.twig' %}

                        <div class="card">
                            <div class="content">

                                {{ form_start(form, {'action':path('dnsuser_edit_confirm', {'id': entity.id}), 'method': 'PUT'}) }}
                                    {% include 'AtwDdnsUserAdminBundle:DnsUser:form.html.twig' with {'entity': entity} %}
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/atwddnsuseradmin/js/dnsuser/edit.min.js') }}"></script>
{% endblock %}
