{% extends 'AtwDdnsUserAdminBundle:Common:base.html.twig' %}

{% block title %}DDNSユーザインポート{% endblock %}
{% block headerTitle %}DDNSユーザインポート{% endblock %}
{% block isActiveDnsUserImport %}active{% endblock %}

{% block contents -%}
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">

                        {% include 'AtwDdnsUserAdminBundle:Common:flashNotices.html.twig' %}

                        <div class="card">
                            <div class="content">

                                {{ form_start(form, {'action':path('dnsuser_upload'), 'method': 'POST'}) }}

                                    {{ form_widget(form._token) }}

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="required">インポート種別</label>
                                                {{ form_widget(form.importType) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="required">ヘッダ行（１行目）を無視する</label>
                                                {{ form_widget(form.isIgnoreHeaderLine) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="required">同一キーデータの上書き可否</label>
                                                {{ form_widget(form.isUpdated) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-last-division">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="required">インポートファイル</label>
                                                {{ form_widget(form.importFile) }}
                                                <small><span class="text-muted">お使いのブラウザによってはドラッグ＆ドロップ機能が制限されます。</span></small>
                                            </div>
                                        </div>
                                    </div>

                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/atwddnsuseradmin/js/libs/dropify.min.js') }}"></script>
    <script src="{{ asset('bundles/atwddnsuseradmin/js/dnsuser/import.min.js') }}"></script>
{% endblock %}
